<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/bootstrap-social.css' />
    <link rel='stylesheet' href='/stylesheets/detail.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Skry</title>
</head>
<body>
        <div class="topBar">
                <a href="/"><h2 class="title">Skry</h2></a>
                <% if(!logged){%>
                    <a href="/auth/facebook" id="icon" class="btn-social btn-facebook" ><span class="fab fa-facebook-square"></span>Log in with Facebook</a>
                <%} else {%>
                    <a href="/user">
                        <img class="profilePic" src=<%=user.picPath%>
                         </a>
                    <span>Welcome <%=user.provider_name%></span>
                    <a href="/logout"><p class="logout">Logout</p></a>
                <% } %>
              </div>
    <div id="currentContainer">
    <form action="/events/new" method="post" enctype="multipart/form-data">
        <p>How will you call your event?</p>
        <input name="name" type="text">
        <p>How many people can come?</p>
        <input name="people" type="number" required>
        <p>What time will it start?</p>
        <input name="startTime" type="number" required>
        <p>What time will it end?</p>
        <input name="endTime" type="number" required>
        <p>How much should people contribute?</p>
        <input name="contribution" type="number" required>
        <p>Describe your event!</p>
        <textarea name="description" required>Enter text here...</textarea>
        <p>Where's your event?</p>
        <input id ="searchBar" name="location" type="text" required>
        <input id ="latitude" name="latitude" type="number" readonly hidden>
        <input id ="longitude" name="longitude" type="number" readonly hidden>
        <br>
        <br>
        <p>Add a picture of your place!</p>
        <br>
        <input id="image" type="file" name="photo" accept="image/*" required>
        <br><br>
        <input type="submit" value="And done!">
    </form>
</div>
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkS2ZKYa3xtCIJpDDZxsGbbzjG2Yobrww&libraries=places">
</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/searchBar.js"></script>
</body>
</html>