<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='/stylesheets/bootstrap.min.css' rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/bootstrap-social.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Hopper</title>
</head>
<body>
    <div class="topBar">
        <a href="/"><h2 class="title">Hopper</h2></a>
        <% if(!logged){%>
            <a href="/auth/facebook"><button class="btn-social-icon btn-facebook"><span class="fab fa-facebook-square"></span></button></a>
            <a href="/auth/instagram" ><button class="btn-social-icon btn-instagram"><span class="fab fa-instagram"></span></button></a>
        <%} else {%>
            <img class="profilePic" src=<%=user.picPath%>>
            <span>Welcome <%=user.provider_name%></span>
            <a href="/logout"><p class="logout">Logout</p></a>
        <% } %>
    </div>
    <div id="currentContainer">
    </div>
    
    <form id="myForm">
        <div class="topnav">
            <input type="text" placeholder="Lugar..">
            <button id="search" type="submit">
                Buscar
            </button>	
        </div>
    </form>
    
</body>
<script>
    var placesArray=<%- JSON.stringify(places) %>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkS2ZKYa3xtCIJpDDZxsGbbzjG2Yobrww&libraries=places">
    </script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
  <script type="text/javascript" src="/javascripts/search.js"></script>
</html>

