<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="navBar">
    <a href="/logout"><p class="logout">Logout</p></a>
    <a href="/"><h2 class="title">Skryer</h2></a>
    </div>
    <div>
        <img class="profilePic" src=<%=user.picPath%>>
        <span>Hello <%=user.provider_name%></span>
    </div>  
        <p>These are your prior events<%=user.events%></p>
        <div>
            <h2>Your reviews</h2>
        </div>
        
</body>
</html>